<div class="component">
  <h1 class="component__header" [attr.data-bg]="title">{{title}}</h1>
  <div class="component__intro">
    <p>For this developer test, we are asking you to build an Angular Component to act as a progress indicator / loading bar.</p>
    <p>The purpose of this is to test your Javascript, Angular, CSS and creativity; We have left this intentionally vague to allow you to demostrate to us how you would accomplish this in an authentic setting. <strong>There are no wrong answers here.</strong></p>
    <p>We'd like you generate a new component, and insert it into the box below. The <code>loading</code> property emulates the effect of a long network request / computation and should be used to control the display of your component.</p>
  </div>
  <div class="component__content">

    Your Component Here!

  </div>
</div>